//Created by CTT VNPAY

extends layout

block content
    h3=title
    div.table-responsive
        form#createOrder(action='vnpay', method='POST')
            div.form-group
                label tenKH
                input.form-control#amount(name='name', placeholder='name', value=name)

             div.form-group
                label gmail
                input.form-control#amount(name='gmail', placeholder='gmail', value=gmail)

             div.form-group
                label name_product
                input.form-control#amount(name='name_product', placeholder='Họ và tên', value=name_pr)
 
            div.form-group
                label address
                input.form-control#amount(name='address', placeholder='address', value=address)
            div.form-group
                label amount
                input.form-control#amount(name='amount', placeholder='So tien', value=amount)

            div.form-group
                label.control-label
                div.controls
                label.radio-inline
                #[input(type="radio", name="bankCode", id="defaultPaymentMethod", value="", checked="true")] Cổng thanh toán VNPAYQR
            div.form-group
                label Ngôn ngữ
                label.control-label
                div.controls
                label.radio-inline
                #[input(type="radio", name="language", id="vnLanguage", value="vn", checked="true")] Tiếng việt
                div.controls
                label.radio-inline
                #[input(type="radio", name="language", id="enLanguage", value="en")] Tiếng anh
            button.btn.btn-default#btnPopup(type='submit') Thanh toán
    p&nbsp;
